@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

/* html{
  font-size: 1vw;
  scroll-behavior: smooth;
} */

@media  screen and (max-width:500px) {
  html{
    font-size: 3vw;
  }
}